.btn-color{
    background-color: #0e1c36;
    color: #fff;
    
  }
  .btn-color:hover {
    background-color: #1a3b7a;
    color: #fff;
  }
  
  .profile-image-pic{
    height: 200px;
    width: 200px;
    object-fit: cover;
  }
  
  .cardbody-color{
    background-color: #ebf2fa;
  }
  
  a{
    text-decoration: none;
  }

  .logo{
    height: 155px;
    
  }

  .header-logo{
    display: flex;
    margin-top: auto;
    
  }

  .logo-container{
    display: flex;
    align-content: center;
    flex-direction: column;
  }

  .profile-card{
    justify-content: center;
  }

  .logo-card{
    padding-right: 100px;
  }